In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bemidji,US,2021-09-17 21:21:09,47.4736,-94.8803,67.14,45,0,12.62
1,1,Hobyo,SO,2021-09-17 21:21:10,5.3505,48.5268,77.74,84,82,25.61
2,2,Fortuna,US,2021-09-17 21:20:12,40.5982,-124.1573,83.19,43,70,3.00
3,3,Esso,RU,2021-09-17 21:21:10,55.9333,158.7000,48.61,77,100,2.30
4,4,Busselton,AU,2021-09-17 21:21:10,-33.6500,115.3333,55.04,88,99,15.17

In [9]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [14]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [20]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [38]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Hobyo,SO,2021-09-17 21:21:10,5.3505,48.5268,77.74,84,82,25.61
2,2,Fortuna,US,2021-09-17 21:20:12,40.5982,-124.1573,83.19,43,70,3.00
23,23,Vaini,TO,2021-09-17 21:19:22,-21.2000,-175.2000,75.99,83,4,8.55
24,24,Salalah,OM,2021-09-17 21:19:30,17.0151,54.0924,79.77,88,62,3.67
29,29,Albany,US,2021-09-17 21:19:19,42.6001,-73.9662,75.61,82,72,6.06
38,38,Dubai,AE,2021-09-17 21:21:17,25.2582,55.3047,87.57,68,2,1.45
39,39,San Andres,CO,2021-09-17 21:21:18,12.5847,-81.7006,83.57,80,100,15.35
42,42,Hilo,US,2021-09-17 21:21:18,19.7297,-155.0900,83.28,85,70,5.01
48,48,Jamestown,US,2021-09-17 21:21:20,42.0970,-79.2353,79.84,78,32,3.24
51,51,Bethel,US,2021-09-17 21:20:27,41.3712,-73.4140,75.45,85,56,6.53

In [27]:
preferred_cities_df.count()

City_ID       165
City          165
Country       165
Date          165
Lat           165
Lng           165
Max Temp      165
Humidity      165
Cloudiness    165
Wind Speed    165
dtype: int64

In [34]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1        Hobyo      SO     77.74   5.3505   48.5268
2      Fortuna      US     83.19  40.5982 -124.1573
23       Vaini      TO     75.99 -21.2000 -175.2000
24     Salalah      OM     79.77  17.0151   54.0924
29      Albany      US     75.61  42.6001  -73.9662
38       Dubai      AE     87.57  25.2582   55.3047
39  San Andres      CO     83.57  12.5847  -81.7006
42        Hilo      US     83.28  19.7297 -155.0900
48   Jamestown      US     79.84  42.0970  -79.2353
51      Bethel      US     75.45  41.3712  -73.4140

In [40]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [42]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel not found... skipping.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel not found... skipping.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel not found... skipping.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel not found... skipping.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel not found... skipping.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel not found... skipping.
Hotel found... adding.
Hotel found... adding.
Hotel not found... skipping.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel not found... skipping.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel not found... skipping.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel not found... skipping.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel not found... skipping.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel not found... skipping.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel not found... skipping.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.
Hotel found... adding.

In [43]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Hobyo,SO,77.74,5.3505,48.5268,Halane Hotel and Restaurent
2,Fortuna,US,83.19,40.5982,-124.1573,Super 8 by Wyndham Fortuna
23,Vaini,TO,75.99,-21.2000,-175.2000,Keleti Beach Resort
24,Salalah,OM,79.77,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH
29,Albany,US,75.61,42.6001,-73.9662,
38,Dubai,AE,87.57,25.2582,55.3047,"Radisson Blu Hotel, Dubai Deira Creek"
39,San Andres,CO,83.57,12.5847,-81.7006,Hotel Arena Blanca
42,Hilo,US,83.28,19.7297,-155.0900,Hilo Hawaiian Hotel
48,Jamestown,US,79.84,42.0970,-79.2353,Hampton Inn & Suites Jamestown
51,Bethel,US,75.45,41.3712,-73.4140,Courtyard by Marriott Danbury

In [44]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [47]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))